.blogPostArea {
    padding: 100px 0px;
}
.blogPostArea.blogPostLeftArea {
    padding-bottom: 40px;
}
@media (max-width: 768px) {
    .blogPostArea.blogPostLeftArea .searchSidebarWrapper {
        margin-top: 0;
   }
}
@media (max-width: 768px) {
    .blogPostArea.blogPostLeftArea .instagramWrap {
        margin-bottom: 60px;
   }
}
.blogPostArea.blogFullWidth {
    padding-bottom: 40px;
}
