.headerArea .headerTop {
    background: #272c3f;
}
.headerArea .headerTop .headerTopMainWrapper {
    border-bottom: 1px solid rgba(255, 255, 255, .07);
    padding: 10px 0;
}
.headerArea .headerTop ul {
    text-align: right;
}
@media (max-width: 576px) {
    .headerArea .headerTop ul {
        text-align: center;
   }
}
.headerArea .headerTop ul li {
    display: inline-block;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    color: #e0e0e0;
}
.headerArea .headerTop ul li:first-child {
    position: relative;
    padding-left: 0;
}
.headerArea .headerTop ul li:first-child::before {
    position: absolute;
    content: "";
    right: 0;
    top: 14px;
    width: 1px;
    height: 25px;
    background: rgba(255, 255, 255, .07);
}
.headerArea .headerTop ul li:last-child {
    padding-right: 0;
}
.headerArea .headerTop ul li i {
    padding-right: 10px;
    color: #cbbc99;
}
@media (max-width: 576px) {
    .headerArea .headerTop ul.accountLoginArea {
        justify-content: center !important;
   }
}
.headerArea .headerTop ul.accountLoginArea li {
    padding-left: 0;
}
@media (max-width: 768px) {
    .headerArea .headerTop ul.accountLoginArea li {
        padding: 0;
   }
}
.headerArea .headerTop ul.accountLoginArea li::before {
    display: none;
}
@media (max-width: 576px) {
    .headerArea .headerTop .btnStyle {
        text-align: center !important;
   }
}
.headerArea .headerTop .btnStyle a {
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 9px 15px;
    border: 2px solid #c0b596;
    border-radius: 47px;
    text-transform: capitalize;
}
@media (max-width: 1024px) {
    .headerArea .headerTop .btnStyle a {
        font-size: 12px;
        padding: 9px;
   }
}
.headerArea.headerAreaStyleThree .headerTop {
    background: transparent;
    padding: 0;
}
@media (max-width: 768px) {
    .headerArea.headerAreaStyleThree .headerTop {
        background: #151a30;
   }
}
.headerArea.headerAreaStyleThree .headerTop .headerTopMainWrapper {
    padding: 10px 15px;
    background: #151a30;
}
@media (max-width: 768px) {
    .headerArea.headerAreaStyleThree .headerTop .headerTopMainWrapper {
        padding: 10px 0;
   }
}
.headerArea.headerAreaStyleThree .headerTop .headerTopMainWrapper .btnStyle a {
    padding: 9px 13px;
}
